<div ng-include="'templates/_nav.html'"></div>
<main class="container">
    <header class="container">
        <h2 class="titulo">{{titulo}}</h2>
    </header>
    <p>
        Siga-me:
        <a href="https://www.linkedin.com/in/paulo-alves3486" target="_blank">
            <img class="foco" src="../resources/icons/linkedin.png">
        </a>
        &nbsp
        <a href="https://github.com/PauloAlves8039" target="_blank">
            <img class="foco" src="../resources/icons/github.png">
        </a>
        &nbsp
        <a href="https://twitter.com/PauloJunior788" target="_blank">
            <img class="foco" src="../resources/icons/twitter.png">
        </a>
        &nbsp
        <a href="mailto:pj38alves@gmail.com" target="_blank">
            <img class="foco" src="../resources/icons/gmail.png">
        </a>
    </p>
</main>